
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>

  <div style="display:inline-block" class="footer-copyright">
    This footer is made by <i class="fa fa-heart"></i> greggstyle
<!--     <div><%= Date.today.strftime("%Y") %></div> -->

  </div>
</div>



